/****************************************************

                    File CSS beta 
                    
****************************************************/
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/* Imposta il box model su border-box per tutti gli elementi
   così padding e border non aumentano la larghezza totale */

html {
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||| */



/* File CSS */

#profilo {
    float: right;
}